* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    height: 70vh;
}

header, footer{
    height: 15vh;
    background-color: rgb(7, 12, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    color: aliceblue;
}
.logo{
    height: 300px;
    width: 400px;
}
.gif1{
    height: 80px;
    width: 80px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
}

.resultados{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.pergunta{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;

}

.resultadosstack, .resultadosreddit{
    width: 45%;
    max-width: 80%;
    margin: 20px;
}

.pergunta form input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
}
.pergunta form button{
    width: 70px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    font-family: "Nunito Sans", sans-serif;
    background-color:rgb(7, 12, 78);
    color: white;
}
.pergunta h1{
    margin-bottom: 10px;
}

.pergunta p{
    font-size: 20px;
}

.pergunta form label{
    font-size: 20px;
}
.pergunta form ::placeholder{
    font-size: 15px;
}
.resultado1, .resultado2{
    margin-bottom: 15px;
}