<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HelpDev</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img class="logo" src="../static/img/HELPDEV.png" alt="" />
      <img class="gif1" src="../static/gif/helpdevbot.gif" alt="" />
    </header>
    <main>
      <div class="container">
        <div class="pergunta">
          <h1>Assistente de pesquisa</h1>
          <p>
            Digite abaixo sua dúvida e ela será consultada nas comunidades do
            StackOverflow e do Reddit!
          </p>
          <form method="POST">
            <label for="duvida">Informe sua dúvida:</label>
            <input
              type="text"
              name="pergunta"
              id="pergunta"
              value="{{ pergunta }}"
              required
            />
            <button type="submit">Buscar</button>
          </form>
        </div>
        <div class="resultados">
            <div class="resultadosstack">
              {% if pergunta %}
              <h2>Resultados do Stack Overflow:</h2>
              {% if resultados_stack %}
              <ul>
                {% for resultado in resultados_stack %}
                <li>
                  <strong>{{ resultado.titulo }}</strong><br />
                  <a href="{{ resultado.link }}" target="_blank"
                    >Ver pergunta completa na comunidade</a
                  >
                </li>
                {% endfor %}
              </ul>
              {% else %}
              <p>Nenhum resultado encontrado no Stack Overflow.</p>
              {% endif %}{% endif %}
            </div>
            <div class="resultadosreddit">
              {% if pergunta %} {% if resultados_reddit %}
              <h2>Resultados do Reddit:</h2>
              <ul>
                {% for resultado in resultados_reddit %}
                <li>
                  <strong>{{ resultado.titulo }}</strong><br />
                  <a href="{{ resultado.link }}" target="_blank"
                    >Ver pergunta completa no Reddit</a
                  >
                </li>
                {% endfor %}
              </ul>
              {% else %}
              <p>Nenhum resultado encontrado no Reddit.</p>
              {% endif %}{% endif %}
            </div>
        </div>
      </div>
    </main>
    <footer>
      <h2>Feito por Richard</h2>
      <div class="links">
        <a href="https://stackoverflow.co/api-solutions/">API do StackOverflow</a>
        <a href="https://www.reddit.com/dev/api/">API do Reddit</a>
      </div>
    </footer>
  </body>
</html>
